* {
  margin: 0px;
  padding: 0px;
 }
 
.theme_dark {
  background: rgb(30, 30, 30);  
  color: rgb(245, 245, 235);
}

.theme_light {
  background: rgb(245, 245, 235);  
  color: rgb(30, 30, 30);
}

 html, body {
  width:100%;
  height:100%;
  box-sizing: border-box;
  moz-box-sizing: border-box;
}

div.main {
    position: relative;
    height: 10%;
    width: 100%;
    border: 0;
    text-align: center;
    font-weight: bolder;
    font-size: 400%;
}

div.appdiv {
    position: absolute;
    top: 100%;
    left: 0;
    height: 800%;   
    width: 60%;
    border: 0;
    font-weight: bold;
    font-size: 20%;
    text-align: left;
    padding-left: 1%;
}

div.consdiv {
    position: absolute;
    top: 101%;
    left: 0;
    width: 100%;
    height: 10%;
    border: 0;
    font-size: 120%; 
    padding-left: 1%;
}

.hovered.theme_dark {
  background-color: rgb(40,40,40);
}

.hovered.theme_light {
  background-color: rgb(215, 215, 205);
}

div.ctrldiv {
  position: absolute;
    top: 100%;
    right: 5%;
    width: 35%;
    border: 0;
    font-weight: bold;
    font-size: 20%;
    text-align: left;
}

div.ctrl_cen {
    position: relative;
    width: 100%;
    border: 0;
}

div.ctrl_left {
    position: relative;
    width: 50%;
    border: 0;
}

div.ctrl_right {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    border: 0;
}

div.disabled_div_right {

    position: absolute;
    top: -10%;
    left: -100%;
    width: 200%;
    height: 120%;
    text-align: center;
    color: #dd3300;
    font-weight: bold;
    font-size: 150%;
    background-color: rgba(0, 0, 0, 0.7);    
    display: inline;
}

div.disabled_div_cen {

    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 120%;
    text-align: center;
    color: #dd3300;
    font-weight: bold;
    font-size: 150%;
    background-color: rgba(0, 0, 0, 0.7);    
    display: inline;
}

div.popupdiv {
    font-weight: normal;
    font-size: 100%;
    text-align: left;
    position: absolute;
    z-index: 2;
}

div.titlediv {
    height: 95%;
    width: 98%;
    padding-top: 0.5%;
    margin-left: 1%;
    margin-right: 1%;
}

div.creditdiv {
    position: absolute;
bottom: 3%;    
right: 3%;
text-align: right;
font-weight: bolder;
font-size: 80%;
}

div.conv_popup {
  
  position: relative;
  border: 5pt;
  border-style: dashed;
  border-radius: 10pt;
  width: 80pt;
  height: 80pt;
  margin: 5pt;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 80pt;
  
}

div.conv_popup .theme_dark {
  border: 5pt rgb(245, 245, 235);  
}

div.conv_popup .theme_light {
  border: 5pt rgb(20, 20, 20);  
}

div.obfuscated {
  
  opacity: .5;
  
}

.switchdiv {
  
  border-radius: 15px;
  background-color: rgb(60,60,60);
  width: 90px;
  height: 30px;
  position: absolute;
}

.switch_controldiv {
  border-radius: 15px;
  background-color: rgb(242, 154, 0);
  color: rgb(30,30,30);
  width: 45px;
  height: 30px;
  line-height: 28px;
  position: relative;
  left: 45px;
  text-align: center;
  vertical-align: middle;
}

.failed_jmol {
  
  background-color: rgb(80, 0, 0);
  font-size: large;
  text-align: center;
  
}

h3.head {
font-weight: bold;
font-size: inherit;
}

a.hidden {
  visibility: hidden;
}

.warn_msg {
  color: #cc2222;
}

.nodisplay {
  display: none;
}

table {
  
  border-collapse: collapse;
  text-align: center;
  border: 1px solid;
  
}

table .theme_dark {
  border: 1px solid rgb(245,245,235);
  background-color: rgb(245,245,235);  
}

table .theme_light {
  border: 1px solid rgb(20, 20, 20);
  background-color: rgb(20, 20, 20);    
}

td {
  
  text-align: center;
  width: 120pt;
  border: 1px solid;
  
}

td .theme_dark {

  border: 1px solid rgb(245,245,235);
  background-color: rgb(20, 20, 20);

}

td .theme_light {

  border: 1px solid rgb(20, 20, 20);
  background-color: rgb(245,245,235);
  
}

.ref_input {
  
  color: inherit;
  background-color: inherit;
  text-align: center;
  
}

#spec_container {
  
  text-align: center;
  
}

.ui-multiselect.mySelDrop {
  font-size: 1em;
}

.ui-multiselect-menu.mySelDrop {
}

